.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  /* Fondo oscuro */
  padding: 10px 20px;
}

/* ENLACES DE NAVEGACIÓN CON ESTILO BONITO */
.navbar a:not(.login-button) {
  text-decoration: none;
  color: #FF8A00;
  font-weight: 600;
  margin: 0 15px;
  position: relative;
  transition: color 0.3s ease;
}

.navbar a:not(.login-button)::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: linear-gradient(to right, #FFB800, #FF8A00);
  transition: width 0.3s;
}

.navbar a:not(.login-button):hover {
  color: #FFB800;
}

.navbar a:not(.login-button):hover::after {
  width: 100%;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.brand-name {
  color: #FFA500;
  /* Color del texto */
  font-size: 24px;
}

.highlight {
  font-weight: bold;
  /* Resaltar parte del texto */
}

.menu-icons {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 20px;
  box-shadow:
    0 0 8px 2px #ffb7004f,
    0 0 15px 5px #ff88004d;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button img {
  width: 18px;
  height: 18px;
}

.login-button:hover {
  /* Sombra más intensa al pasar el mouse */
  box-shadow:
    0 0 10px 2px #ffb70096,
    0 0 15px 5px #ff88008e;
}


.cart-icon {
  background-color: #ffffff;
  /* Color del botón de login */
  color: #FF8A00;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  line-height: 1;
  margin-right: 20px;
  /* Sombra amarilla degradada */
  box-shadow:
    0 0 8px 2px #ffb7004f,
    0 0 15px 5px #ff88004d;
  transition: box-shadow 0.3s ease;
}

.cart-icon:hover {
  /* Sombra más intensa al pasar el mouse */
  box-shadow:
    0 0 10px 2px #ffb70096,
    0 0 15px 5px #ff88008e;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.7rem;
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #888;
  transition: color 0.2s;
}

.close-btn:hover {
  color: #FF8A00;
}